<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Zhima.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>166CBACE1E26209300E12865</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>166CBAE71E26209400E12865</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>166CBAF21E26209400E12865</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
